@charset "UTF-8";

body {
    background-color: #FFC14D;
    vertical-align: center;
}

/*cadastar*/
.titulo {
    color:black;
    text-align: center;
    padding: 220px 220px 0px 220px;
    font-size: 70px;
}

form {
    text-align: center;
}

input {
    width: 300px;
    height: 40px;
    font-size: 20px;
}

input#email {
    margin: 20px;
}

p {
    text-align: center;
}

div#logar{
    margin-top: 25px;
    text-align: center;
}

button {
    width: 200px;
    height: 50px;
}

div#img {
    text-align: center;
}