@charset "UTF-8";

body {
    background-color: #FFC14D;
    vertical-align: center;
}

/*cadastar*/
.titulo {
    color:black;
    text-align: center;
    padding: 220px 220px 0px 220px;
    font-size: 70px;
}

main {
    display: flex;
    width: auto;
    height: auto;
    align-items: center;
    justify-content: center;
}


a {
    text-decoration: none;
    color: black;
}

button.but {
    margin: 100px;
    min-width: 300px; 
    padding: 30px 100px;
    font-size: medium;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

div#img {
    text-align: center;
}